<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.mapper.TempEntityMapper">
    <resultMap id="BaseResultMap" type="com.xy.entity.TempEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="abc_dd" jdbcType="VARCHAR" property="abcDd"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, abc_dd
  </sql>

    <select id="selectCount" resultType="java.lang.Integer">
    select count(1) from temp
  </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from temp
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from temp
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.xy.entity.TempEntity">
    insert into temp (id, name, abc_dd
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{abcDd,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.xy.entity.TempEntity">
        insert into temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="abcDd != null">
                abc_dd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="abcDd != null">
                #{abcDd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xy.entity.TempEntity">
        update temp
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="abcDd != null">
                abc_dd = #{abcDd,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xy.entity.TempEntity">
    update temp
    set name = #{name,jdbcType=VARCHAR},
      abc_dd = #{abcDd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>